## Using SQL Databases in Python

You can, of course, access databases from your code, not just from Jupyter or the command line.

We will first create a database, and then access it using a Python SQL library.

In [ ]:
# OBSOLETO DESDE SQLALCHEMY 2.0

#%load_ext sql

#%sql mysql+pymysql://root:root@127.0.0.1:3306/mysql

In [ ]:
# Antes de nada, ejecutar en bash: 
# docker start course-mysql
# mysql -h localhost -P 3306 --protocol=TCP -u root -p

In [1]:
from sqlalchemy import URL, create_engine, MetaData
from getpass import getpass

url_object = URL.create(
    "mysql+pymysql",
    username="root",
    password= getpass(),  # Obtiene la contraseña a través de un prompt interactivo.
    host="localhost", 
    database="mysql"
)

engine = create_engine(url_object)

metadata = MetaData() # Crea una variable para almacenar los metadatos de las tablas.

# Inicia el interprete de pymysql.
%load_ext sql 

# Realiza la conexión.
%sql engine 

#%config SqlMagic.autocommit=False

In [ ]:
# Antes de nada, ejecutar en bash: 
# docker start course-mysql
# mysql -h localhost -P 3306 --protocol=TCP -u root -p

In [2]:
%sql show databases;

Running query in 'mysql+pymysql://root:***@localhost/mysql'

4 rows affected.

+--------------------+
|      Database      |
+--------------------+
| information_schema |
|       mysql        |
| performance_schema |
|        sys         |
+--------------------+

In [ ]:
# if you have the germplasm database, please drop it now!
# if not, then move to the next box

%sql drop database germplasm

In [3]:
%sql create database germplasm;
%sql show databases

Running query in 'mysql+pymysql://root:***@localhost/mysql'

1 rows affected.

Running query in 'mysql+pymysql://root:***@localhost/mysql'

5 rows affected.

+--------------------+
|      Database      |
+--------------------+
|     germplasm      |
| information_schema |
|       mysql        |
| performance_schema |
|        sys         |
+--------------------+

In [4]:
%sql use germplasm;

Running query in 'mysql+pymysql://root:***@localhost/mysql'

++
||
++
++

In [5]:
#%sql drop table stock
#%sql drop table germplasm
#%sql drop table gene
%sql CREATE TABLE stock(id INTEGER NOT NULL AUTO_INCREMENT PRIMARY KEY, amount FLOAT NOT NULL, date DATE NOT NULL, location VARCHAR(20) NOT NULL);
%sql DESCRIBE stock
%sql CREATE TABLE germplasm(id INTEGER NOT NULL AUTO_INCREMENT PRIMARY KEY, taxonid INTEGER NOT NULL, alleles VARCHAR(30) NOT NULL, stock_id INTEGER NOT NULL);
%sql DESCRIBE germplasm
%sql CREATE TABLE gene(id INTEGER NOT NULL AUTO_INCREMENT PRIMARY KEY, gene VARCHAR(10) NOT NULL, gene_name VARCHAR(30) NOT NULL, germ_id INTEGER NOT NULL, embl VARCHAR(70) NOT NULL);
%sql DESCRIBE gene

Running query in 'mysql+pymysql://root:***@localhost/mysql'

Running query in 'mysql+pymysql://root:***@localhost/mysql'

4 rows affected.

Running query in 'mysql+pymysql://root:***@localhost/mysql'

Running query in 'mysql+pymysql://root:***@localhost/mysql'

4 rows affected.

Running query in 'mysql+pymysql://root:***@localhost/mysql'

Running query in 'mysql+pymysql://root:***@localhost/mysql'

5 rows affected.

+-----------+-------------+------+-----+---------+----------------+
|   Field   |     Type    | Null | Key | Default |     Extra      |
+-----------+-------------+------+-----+---------+----------------+
|     id    |     int     |  NO  | PRI |   None  | auto_increment |
|    gene   | varchar(10) |  NO  |     |   None  |                |
| gene_name | varchar(30) |  NO  |     |   None  |                |
|  germ_id  |     int     |  NO  |     |   None  |                |
|    embl   | varchar(70) |  NO  |     |   None  |                |
+-----------+-------------+------+-----+---------+----------------+

In [6]:
%sql INSERT INTO stock(amount, date, location) VALUES (5, '2013-05-10', 'Room 2234');
%sql INSERT INTO stock(amount, date, location) VALUES (9.8, '2015-1-12', 'Room 998');

%sql INSERT INTO germplasm (taxonid, alleles, stock_id) VALUES (4150, 'def-1', 1 );
%sql INSERT INTO germplasm (taxonid, alleles, stock_id) VALUES (3701, 'ap3 ag', 2 );

%sql INSERT INTO gene (gene, gene_name, germ_id, embl) VALUES ('DEF', "Deficiens", 1, 'https://www.ebi.ac.uk/ena/data/view/AB516402');
%sql INSERT INTO gene (gene, gene_name, germ_id, embl) VALUES ('AP3', "Apetala3", 2, 'https://www.ebi.ac.uk/ena/data/view/AF056541');
%sql INSERT INTO gene (gene, gene_name, germ_id, embl) VALUES ('AG', "Agamous", 2, 'https://www.ebi.ac.uk/ena/data/view/AL161549');

Running query in 'mysql+pymysql://root:***@localhost/mysql'

1 rows affected.

Running query in 'mysql+pymysql://root:***@localhost/mysql'

1 rows affected.

Running query in 'mysql+pymysql://root:***@localhost/mysql'

1 rows affected.

Running query in 'mysql+pymysql://root:***@localhost/mysql'

1 rows affected.

Running query in 'mysql+pymysql://root:***@localhost/mysql'

1 rows affected.

Running query in 'mysql+pymysql://root:***@localhost/mysql'

1 rows affected.

Running query in 'mysql+pymysql://root:***@localhost/mysql'

1 rows affected.

++
||
++
++

<pre>


</pre>

## Our germplasm database is now set up.

**This data structure is not the same as our previous examples!**

Now we allow a germplasm to be a 'double mutant' (or a 'triple mutant'), so some germplasms connect to multiple genes; the way I modelled this situation is to point from the gene table to the ID of the germplasm table (in our previous table structure, the germplasm table contained the ID of the gene)


**Germplasm table** linked to **Stock table** (one-to-one) (one germplasm point to one stock)


**Gene table** linked to **Germplasm table** (many-to-one) (many genes may be involved in one germplasm)

In [7]:
import pymysql.cursors 
#from getpass import getpass

# Connect to the database. This allos pymysql to act as an interpreter between python and mysql.
connection = pymysql.connect(host='localhost',
                             user='root',
                             password= getpass(), 
                             db='germplasm',
                             charset='utf8mb4',  # note utf8... this is important for unusual characters!
                             cursorclass=pymysql.cursors.DictCursor)

#connection.autocommit = False  # note that it is possible to delay putting changes into the database!

try:
    with connection.cursor() as cursor: # Rename the cursor method for convenience.
        # Read a single record
        sql = "SELECT * FROM stock" # Create de sql query.
        cursor.execute(sql) # Execute the query
        results = cursor.fetchall() # Fetch the results.
        print(results) # Table is storaged as a list of dictionaries, each dictionary containing a row. The key:value pairs are column_name:value
        print("")
        for result in results:
            print(result['amount']," is located in ",result['location']) # Observe how is posible to manage table columns as iterables.
finally:
    print("\nDone")
    #connection.close()

[{'id': 1, 'amount': 5.0, 'date': datetime.date(2013, 5, 10), 'location': 'Room 2234'}, {'id': 2, 'amount': 9.8, 'date': datetime.date(2015, 1, 12), 'location': 'Room 998'}]

5.0  is located in  Room 2234
9.8  is located in  Room 998

In [9]:

try:
    with connection.cursor() as cursor:
        # Read a single record
        sql = "SELECT * FROM gene"
        cursor.execute(sql)
        results = cursor.fetchall()
        print(results)
        print("")
        for result in results:
            print(result['gene_name'])
finally:
    print("\nDone")
    #connection.close()

[{'id': 1, 'gene': 'DEF', 'gene_name': 'Deficiens', 'germ_id': 1, 'embl': 'https://www.ebi.ac.uk/ena/data/view/AB516402'}, {'id': 2, 'gene': 'AP3', 'gene_name': 'Apetala3', 'germ_id': 2, 'embl': 'https://www.ebi.ac.uk/ena/data/view/AF056541'}, {'id': 3, 'gene': 'AG', 'gene_name': 'Agamous', 'germ_id': 2, 'embl': 'https://www.ebi.ac.uk/ena/data/view/AL161549'}]

Deficiens
Apetala3
Agamous

Done

## Open a new jupyter notebook to Lesson 3  - mySQL section

Try some of the SELECT queries we learned in that lesson.

In [10]:
# try queries here

try:
    with connection.cursor() as cursor:
        # Connect the tables.
        sql = """SELECT * FROM germplasm, stock, gene WHERE 
     germplasm.stock_id = stock.id AND 
     gene.germ_id = germplasm.id;"""
        cursor.execute(sql)
        results = cursor.fetchall()  # traertodos()
        #print(results)
        #print("")
        for result in results:
            print(result)
            print()
finally:
    print("\nDone")
    connection.close

{'id': 1, 'taxonid': 4150, 'alleles': 'def-1', 'stock_id': 1, 'stock.id': 1, 'amount': 5.0, 'date': datetime.date(2013, 5, 10), 'location': 'Room 2234', 'gene.id': 1, 'gene': 'DEF', 'gene_name': 'Deficiens', 'germ_id': 1, 'embl': 'https://www.ebi.ac.uk/ena/data/view/AB516402'}

{'id': 2, 'taxonid': 3701, 'alleles': 'ap3 ag', 'stock_id': 2, 'stock.id': 2, 'amount': 9.8, 'date': datetime.date(2015, 1, 12), 'location': 'Room 998', 'gene.id': 2, 'gene': 'AP3', 'gene_name': 'Apetala3', 'germ_id': 2, 'embl': 'https://www.ebi.ac.uk/ena/data/view/AF056541'}

{'id': 2, 'taxonid': 3701, 'alleles': 'ap3 ag', 'stock_id': 2, 'stock.id': 2, 'amount': 9.8, 'date': datetime.date(2015, 1, 12), 'location': 'Room 998', 'gene.id': 3, 'gene': 'AG', 'gene_name': 'Agamous', 'germ_id': 2, 'embl': 'https://www.ebi.ac.uk/ena/data/view/AL161549'}


Done

<pre>


</pre>
## You can issue ANY mysql command in this way

Including _create database_, _create table_,  and  _insert_ data commands.

For example:

In [11]:
"""connection = pymysql.connect(host='localhost',
                             user='root',
                             password='root',
                             db='germplasm',
                             charset='utf8mb4',  # note utf8... this is important for unusual characters!
                             cursorclass=pymysql.cursors.DictCursor)
                             """

#connection.autocommit = False

try:
    with connection.cursor() as cursor:
        # Create a new database.
        sql = "create database testing123"
        cursor.execute(sql)

finally:
    print("\nDone")
    connection.close()
    

%sql show databases

Done

Running query in 'mysql+pymysql://root:***@localhost/mysql'

6 rows affected.

+--------------------+
|      Database      |
+--------------------+
|     germplasm      |
| information_schema |
|       mysql        |
| performance_schema |
|        sys         |
|     testing123     |
+--------------------+

In [ ]:
#%sql drop database testing123
%sql show databases

In [ ]:

connection = pymysql.connect(host='localhost',
                             user='root',
                             password='root',
                             db='germplasm',
                             charset='utf8mb4',  # note utf8... this is important for unusual characters!
                             cursorclass=pymysql.cursors.DictCursor)

#connection.autocommit = False

try:
    with connection.cursor() as cursor:
        # Read a single record
        sql = "show databases"
        cursor.execute(sql)
        results = cursor.fetchall()
        print(results)
        for result in results:
            print(result['Database'])
        print("")

finally:
    print("")
    connection.close()

In [12]:
connection = pymysql.connect(host='localhost',
                             user='root',
                             password=getpass(),
# PAY ATTENTION HERE!!!!!!!!!!!!!!!
                             db='testing123', # You need to repeat the process to connect to another database.
                             charset='utf8mb4',  # note utf8... this is important for unusual characters!
                             cursorclass=pymysql.cursors.DictCursor)
#connection.autocommit = False


try:
    with connection.cursor() as cursor:
        # Read a single record
        sql = "create table test1(id INTEGER NOT NULL AUTO_INCREMENT PRIMARY KEY, data1 VARCHAR(20) NOT NULL )"
        cursor.execute(sql)
        sql = "create table test2(id INTEGER NOT NULL AUTO_INCREMENT PRIMARY KEY, otherdata VARCHAR(20) NOT NULL )"
        cursor.execute(sql)
finally:
    print("\nDone")
    connection.close()


%sql use testing123
%sql show tables
%sql desc test1
%sql desc test2

Running query in 'mysql+pymysql://root:***@localhost/mysql'

Running query in 'mysql+pymysql://root:***@localhost/mysql'

2 rows affected.

+-----------+-------------+------+-----+---------+----------------+
|   Field   |     Type    | Null | Key | Default |     Extra      |
+-----------+-------------+------+-----+---------+----------------+
|     id    |     int     |  NO  | PRI |   None  | auto_increment |
| otherdata | varchar(20) |  NO  |     |   None  |                |
+-----------+-------------+------+-----+---------+----------------+

In [13]:
%sql show databases

Running query in 'mysql+pymysql://root:***@localhost/mysql'

6 rows affected.

+--------------------+
|      Database      |
+--------------------+
|     germplasm      |
| information_schema |
|       mysql        |
| performance_schema |
|        sys         |
|     testing123     |
+--------------------+

# Insert a new record into the Germplasm database

First, look at the schemas:

In [14]:
%sql use germplasm
%sql desc gene

Running query in 'mysql+pymysql://root:***@localhost/mysql'

Running query in 'mysql+pymysql://root:***@localhost/mysql'

5 rows affected.

+-----------+-------------+------+-----+---------+----------------+
|   Field   |     Type    | Null | Key | Default |     Extra      |
+-----------+-------------+------+-----+---------+----------------+
|     id    |     int     |  NO  | PRI |   None  | auto_increment |
|    gene   | varchar(10) |  NO  |     |   None  |                |
| gene_name | varchar(30) |  NO  |     |   None  |                |
|  germ_id  |     int     |  NO  |     |   None  |                |
|    embl   | varchar(70) |  NO  |     |   None  |                |
+-----------+-------------+------+-----+---------+----------------+

In [15]:
%sql desc stock

Running query in 'mysql+pymysql://root:***@localhost/mysql'

4 rows affected.

+----------+-------------+------+-----+---------+----------------+
|  Field   |     Type    | Null | Key | Default |     Extra      |
+----------+-------------+------+-----+---------+----------------+
|    id    |     int     |  NO  | PRI |   None  | auto_increment |
|  amount  |    float    |  NO  |     |   None  |                |
|   date   |     date    |  NO  |     |   None  |                |
| location | varchar(20) |  NO  |     |   None  |                |
+----------+-------------+------+-----+---------+----------------+

In [16]:
%sql desc germplasm

Running query in 'mysql+pymysql://root:***@localhost/mysql'

4 rows affected.

+----------+-------------+------+-----+---------+----------------+
|  Field   |     Type    | Null | Key | Default |     Extra      |
+----------+-------------+------+-----+---------+----------------+
|    id    |     int     |  NO  | PRI |   None  | auto_increment |
| taxonid  |     int     |  NO  |     |   None  |                |
| alleles  | varchar(30) |  NO  |     |   None  |                |
| stock_id |     int     |  NO  |     |   None  |                |
+----------+-------------+------+-----+---------+----------------+

## test data to show how to retrieve the latest unique ID number:

**Stock**:  amount=5, date=2019-12-12, location=nowhere

(Remember the SQL "last_insert_id()" function!!)

In [19]:
connection = pymysql.connect(host='localhost',
                             user='root',
                             password=getpass(),
# PAY ATTENTION HERE!!!!!!!!!!!!!!!
                             db='germplasm',
                             charset='utf8mb4',  # note utf8... this is important for unusual characters!
                             cursorclass=pymysql.cursors.DictCursor)
#connection.autocommit = False

try:
    with connection.cursor() as cursor:
        # Insert a new row, then we will read the id of this new insert.
        sql = """INSERT INTO stock (amount, date, location)
        VALUES (5, '2019-12-12', 'nowhere')"""
        cursor.execute(sql)
        sql = "SELECT last_insert_id()" # As you can see, you can consecutively introduce and excecute multiple commands (or store them in separate variables and use them as you please).
        cursor.execute(sql)
        results = cursor.fetchall()
        print(results)
        # note that results is a LIST of dictionaries 
        # so we need to take element 0 then
        # gene_id = results[0]['last_insert_id()']
        print("The unique ID for the last gene entered was {}".format(results[0]['last_insert_id()']))
        stockid = results[0]['last_insert_id()']
        print("STOCK ", stockid)

finally:
    print("\nDone")
    connection.close()

[{'last_insert_id()': 3}]
The unique ID for the last gene entered was 3
STOCK  3

## new data:

**Gene**:  gene=WUS, gene_name=WUSCHEL, embl=http://ABC123, **germ_id=??**

**Gene**:  gene=CLV, gene_name=CLAVATA, embl=http://ABC123, **germ_id=??**

**Stock**: amount=10, date=12/09/2018, location=Room990

**Germplasm**:  taxonid=3701, alleles= wus-1 clv-1, stock_id=??**

In [20]:
connection = pymysql.connect(host='localhost',
                             user='root',
                             password=getpass(),
                             db='germplasm',
                             charset='utf8mb4',  # note utf8... this is important for unusual characters!
                             cursorclass=pymysql.cursors.DictCursor)
connection.autocommit = False

try:
    with connection.cursor() as cursor:
        
        sql = """INSERT INTO stock (amount, date, location) 
        VALUES (10, '2018-12-09', 'Room990')"""
        cursor.execute(sql)
        sql = "SELECT last_insert_id()"
        cursor.execute(sql)
        results = cursor.fetchall()   # traertodos
        stockid = results[0]['last_insert_id()']
        print(stockid)

        sql = "INSERT INTO germplasm (taxonid, alleles, stock_id) VALUES (3701, 'wus-1 clv-1', " + str(stockid) + ")" # Careful with types.
        cursor.execute(sql)
        sql = "SELECT last_insert_id()"
        cursor.execute(sql)
        results = cursor.fetchall()  # traertodos
        germid = results[0]['last_insert_id()']
        print(germid)

        sql = """INSERT INTO gene (gene, gene_name, embl, germ_id) 
        VALUES ("WUS", 'WUSCHEL', 'http://blahblah1', """ + str(germid) + """)"""
        cursor.execute(sql)
        
        sql = """INSERT INTO gene (gene, gene_name, embl, germ_id) 
        VALUES ("CLV", 'CLAVATA', 'http://blahblah2', """ + str(germid) + """)"""
        cursor.execute(sql)

        connection.commit()   # NOTE THAT I AM FORCING THE WRITE TO THE DATABASE HERE
        
finally:
    print("\nDone")
    connection.close()  # if I close before I commit, the inserts are lost

    
%sql select * from gene;

4
3

Running query in 'mysql+pymysql://root:***@localhost/mysql'

5 rows affected.

+----+------+-----------+---------+-------------------------------------------------------------------------------------------------------+
| id | gene | gene_name | germ_id |                                                  embl                                                 |
+----+------+-----------+---------+-------------------------------------------------------------------------------------------------------+
| 1  | DEF  | Deficiens |    1    | <a href=https://www.ebi.ac.uk/ena/data/view/AB516402>https://www.ebi.ac.uk/ena/data/view/AB516402</a> |
| 2  | AP3  |  Apetala3 |    2    | <a href=https://www.ebi.ac.uk/ena/data/view/AF056541>https://www.ebi.ac.uk/ena/data/view/AF056541</a> |
| 3  |  AG  |  Agamous  |    2    | <a href=https://www.ebi.ac.uk/ena/data/view/AL161549>https://www.ebi.ac.uk/ena/data/view/AL161549</a> |
| 4  | WUS  |  WUSCHEL  |    3    |                             <a href=http://blahblah1>http://blahblah1</a>                             |
| 5  | CLV  |  CLAVATA  |    3    |                             <a href=http://blahblah2>http://blahblah2</a>                             |
+----+------+-----------+---------+-------------------------------------------------------------------------------------------------------+

In [21]:
%sql use germplasm
%sql select * from germplasm;

Running query in 'mysql+pymysql://root:***@localhost/mysql'

Running query in 'mysql+pymysql://root:***@localhost/mysql'

3 rows affected.

+----+---------+-------------+----------+
| id | taxonid |   alleles   | stock_id |
+----+---------+-------------+----------+
| 1  |   4150  |    def-1    |    1     |
| 2  |   3701  |    ap3 ag   |    2     |
| 3  |   3701  | wus-1 clv-1 |    4     |
+----+---------+-------------+----------+

# practice :-)

(any fortnite players?  Liking Season 4?)